.BGEnhanced-BackgoundDom {
    position: absolute;
    width: 100%;
    height: 100%;

    .background {
        width: 100%;
        height: 100%;

        .container {
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }


            position: absolute;
            width: 100%;
            height: 100%;

            &.fadeIn {
                animation: fadeIn .5s forwards;
            }
        }

        &.mode-stretch {
            .container * {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        &.mode-cover {
            .container * {
                position: absolute;
                // width: calc(--win-width / max(--win-width, --win-height));
                height: 100%;
            }
        }
    }
}

.BGEnhanced-Config {
    overflow: scroll;

    // https://codepen.io/jasonwoan/pen/abJKZW
    .range {
        -webkit-appearance: none;
        vertical-align: middle;
        outline: none;
        border: none;
        padding: 0;
        background: none;
    }

    .range::-webkit-slider-runnable-track {
        background-color: #d7dbdd;
        height: 6px;
        border-radius: 3px;
        border: 1px solid transparent;
    }

    .range[disabled]::-webkit-slider-runnable-track {
        border: 1px solid #d7dbdd;
        background-color: transparent;
        opacity: 0.4;
    }

    .range::-moz-range-track {
        background-color: #d7dbdd;
        height: 6px;
        border-radius: 3px;
        border: none;
    }

    .range::-ms-track {
        color: transparent;
        border: none;
        background: none;
        height: 6px;
    }

    .range::-ms-fill-lower {
        background-color: #d7dbdd;
        border-radius: 3px;
    }

    .range::-ms-fill-upper {
        background-color: #d7dbdd;
        border-radius: 3px;
    }

    .range::-ms-tooltip {
        display: none;
        /* display and visibility only */
    }

    .range::-moz-range-thumb {
        border-radius: 20px;
        height: 18px;
        width: 18px;
        border: none;
        background: none;
        background-color: #606670;
    }

    .range:active::-moz-range-thumb {
        outline: none;
    }

    .range::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        border-radius: 100%;
        background-color: #606670;
        height: 18px;
        width: 18px;
        margin-top: -7px;
    }

    .range[disabled]::-webkit-slider-thumb {
        background-color: transparent;
        border: 1px solid #d7dbdd;
    }

    .range:active::-webkit-slider-thumb {
        outline: none;
    }

    .range::-ms-thumb {
        border-radius: 100%;
        background-color: #606670;
        height: 18px;
        width: 18px;
        border: none;
    }

    .range:active::-ms-thumb {
        border: none;
    }

    output {
        border: 1px solid #d7dbdd;
        color: #333;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        padding: .4em .6em;
        border-radius: 3px;
    }


    &>.buttons {
        display: flex;
        flex-direction: row;

        .full {
            z-index: 19;
            display: flex;
            overflow: hidden;
            cursor: default;
            margin-right: 10px;

            .ico {
                transition: opacity 0.3s;
                margin-right: 10px;
                float: left;
            }

            &:hover {
                background: transparent;
            }

            .content {
                width: 100%;
                height: 100%;
                border-left: 1px solid rgba(255, 255, 255, 0.199);

                .btn {
                    border-right: 1px solid rgba(255, 255, 255, 0.199);
                    box-shadow:0 1px 0 rgba(255, 255, 255, 0.199);
                    margin-top: 1px;
                    opacity: 0.9;
                    background: rgba(255, 255, 255, 0.014);
                    float: left;
                    padding: 0 .8em;
                    cursor: pointer;
                    box-sizing: border-box;
                }
            }

            width: 100%;
            margin-bottom: 1em;
        }

        .expand-h{
            transition: max-height .3s;
            height: auto;
            max-height: 32px;
            border-radius: 15px;
            &:hover{
                max-height: 100px;
            }
        }

        .extendable {
            z-index: 19;
            display: flex;

            transition: width 0.3s, background-color 0.1s, border-color 0.1s;
            width: 50px;
            min-width: 50px;
            overflow: hidden;
            cursor: default;
            margin-right: 10px;

            .ico {
                transition: opacity 0.3s;
                margin-right: 10px;
                float: left;
            }

            .content {
                width: 100%;
                height: 100%;
                border-left: 1px solid rgba(255, 255, 255, 0.199);

                .btn {
                    border-right: 1px solid rgba(255, 255, 255, 0.199);
                    opacity: 0.9;
                    background: rgba(255, 255, 255, 0.014);
                    float: left;
                    padding: .1em .8em;
                    cursor: pointer;

                    &.enabled {
                        background: rgba(255, 255, 255, 0.253);
                    }
                }
            }

            &:hover {
                width: 100%;
                background: transparent;

                .ico {
                    opacity: 0.8;
                }

                .content {
                    opacity: 1;
                    margin-top: 0em;
                }
            }

            margin-bottom: 1em;
        }

    }


    .bg-block {

        $bg-preview-size: 10em;
        width: $bg-preview-size;
        height: $bg-preview-size;
        float: left;
        margin: .5em;
        border-radius: .7em;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.253);

        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.048);

        transition: outline .1s;

        &.selected {
            box-shadow: 0 0 0 3px rgba(0, 89, 255, 0.829);
            transition: box-shadow 0.3s;
        }

        position: relative;

        .info {
            transition: opacity 0.2s;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            opacity: 0;
            padding-right: 5px;
            padding-bottom: 5px;
            background: linear-gradient(-45deg, #00000083, #00000000);

            .name{
                padding: 0.2em 0.5em;
                color: rgba(255, 255, 255, 0.678);
                font-size: 1.1em;
            }

            .buttons{
                display: flex;
                align-items: flex-end;
                flex-direction: row-reverse;

                .btn {
                    margin: 5px 5px;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
    
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

        }

        &:hover {
            .info {
                opacity: 1;
            }
        }



        &>* {
            width: $bg-preview-size;
            height: $bg-preview-size;
        }
    }
}

// 预制全透明
.use-prefab-transparency-style {
    .m-tabwrap, .g-hd, .g-hd::after, #main-player{
        background: transparent !important;
    }
}

.m-card-invite{
    transform: translate(-80px);
}